* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 16px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: #282828;
    color: #94920e
}

#workspaces {
	background: #000000;
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
	border-radius: 16px;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #94920e;
}

#workspaces button.active {
    color: #005e94;
    background-color: transparent;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: #94920e;
	color: black;
	border-radius: 16px;
}

#clock {
    color: #94920e;
    background-color: #000000;
    border-radius: 0px 0px 0px 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin-left: 10px;
    font-weight: bold;
}

#pulseaudio.muted {
    background: transparent;
    color: #005e94;
    border-radius: 8px;
}


#custom-playerctl {
	background: #000000;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#battery.charging {
    color: #005e94;
}

#battery.warning:not(.charging) {
    background-color: #1eff00;
}


#temperature, #cpu, #network, #pulseaudio, #battery, #memory{
    background-color: #000000;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: #94920e;

}

#backlight {
    background-color: #000000;
    border-radius: 16px;
    /* color: #005e94; */
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}